/*********************************
            HEADER
*********************************/
/*********************************
            SEARCH BAR
*********************************/
/*********************************
            CARRITO
*********************************/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Overlock:400,400i,700|Oleo+Script");
@-webkit-keyframes shadowFloat {
  0% {
    box-shadow: 0 20px 40px #8a8a8a;
    transform: translateY(-3px);
  }
  100% {
    box-shadow: 0 10px 10px #7d7d7d;
    transform: translateY(3px);
  }
}
@keyframes shadowFloat {
  0% {
    box-shadow: 0 20px 40px #8a8a8a;
    transform: translateY(-3px);
  }
  100% {
    box-shadow: 0 10px 10px #7d7d7d;
    transform: translateY(3px);
  }
}
/*********************************
            SLIDE BAR
*********************************/
@-webkit-keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}
@-webkit-keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}
@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}
@-webkit-keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}
@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}
/*********************************
            COMENTARIOS INDEX
*********************************/
/*********************************
            CARD HEAD
*********************************/
@-webkit-keyframes roullete {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5.8em);
  }
}
@keyframes roullete {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5.8em);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.u-text-align-center {
  text-align: center;
}

.u-text-align-justify {
  text-align: justify;
}

.u-text-align-left {
  text-align: left;
}

.u-text-align-right {
  text-align: right;
}

/*********************************
            SECTION CARDS
*********************************/
.section-cards {
  background-color: #f1f2f3;
  padding: 1em;
  border: 1px solid rgba(51, 51, 51, 0.363);
  margin: 1em auto;
  background-image: url(../img/nosotros/bg-nosotros.png);
  background-size: contain;
  box-shadow: 0 0 8px 5px rgba(132, 142, 161, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1180px;
}

@media (max-width: 1240px) {
  .section-cards {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .section-cards {
    background-position: center;
    max-width: auto;
    background-image: none;
  }
}
@media (max-width: 660px) {
  .section-cards {
    width: 85%;
  }
}
@media (max-width: 487px) {
  .section-cards {
    background-image: none;
  }
}
/*********************************
            CARD HEAD
*********************************/
.section-cards__header {
  margin: 1em auto;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #333;
  font-weight: bold;
  text-align: center;
  align-content: center;
}

.section-cards__header-contain {
  display: flex;
  flex-direction: column;
}

.section-cards__header-suffix > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  transition: all 1s;
  -webkit-animation: 5s linear 0s infinite roullete;
          animation: 5s linear 0s infinite roullete;
  letter-spacing: 0.3em;
  font-size: 1.2em;
}

.section-cards__header-suffix {
  height: 1em;
  overflow: hidden;
  margin: 0.5em 0 0.5em 0;
}

.section-cards__header-bottom > span :last-child {
  color: #3858A2;
  font-style: oblique;
}

@media (max-width: 768px) {
  .section-cards__header {
    font-size: 1.8em;
  }
}
@media (max-width: 580px) {
  .section-cards__header {
    font-size: 1.2em;
  }
}
@media (max-width: 320px) {
  .section-cards__header {
    font-size: 1em;
  }
}
/*********************************
            CARDS
*********************************/
.card-main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1180px;
}

.card {
  width: 350px;
  height: 450px;
  margin: 0.6em;
  background: #3858A2;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  text-align: center;
  box-shadow: 0 0 20px 3px rgba(51, 51, 51, 0.5);
}

.card:before {
  content: "";
  width: 100%;
  height: 100%;
  top: -49%;
  left: 0;
  background-color: #D50081;
  z-index: -1;
  position: absolute;
  transform: skewY(-20deg);
  transition: 0.3s all ease;
}

.card:hover:before {
  top: 50%;
  transform: skewY(20deg);
}

/***************** DESCRIPTION ****************/
.card-description {
  display: inline-block;
  width: 100%;
  padding: 30px 20px 10px 20px;
  background: #3858A2;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  transition: 0.3s all ease;
  text-align: justify;
}

.card-description-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 0.4em;
  color: #3858A2;
  font-size: 23px;
}

.card:hover .card-description {
  bottom: 48%;
  z-index: 4;
  background-color: rgba(255, 255, 255, 0.788);
  color: black;
}

/***************** IMG GENERAL Y PRIMERA ****************/
.card img {
  width: 45%;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  padding-top: 0;
  transition: 0.3s all ease;
}

.card:hover img {
  filter: drop-shadow(12px 10px 10px #00000060);
  width: 50%;
  transform: translate(-50%, -15%) rotate(10deg);
  opacity: 0.8;
}

/***************** AMAZON ****************/
.card .card-img-amazon {
  width: 70%;
}

.card:hover .card-img-amazon {
  width: 75%;
}

/***************** CAMHERO ****************/
.card .card-img-camHero {
  width: 65%;
}

.card:hover .card-img-camHero {
  width: 70%;
}

/***************** GOOGLE ****************/
.card .card-img-google {
  width: 70%;
}

.card:hover .card-img-google {
  width: 75%;
}

/***************** CELULAR SAM ****************/
.card .card-img-celularsam {
  width: 70%;
  left: 60%;
}

.card:hover .card-img-celularsam {
  width: 75%;
}

/***************** PIONNER ****************/
.card .card-img-pionner {
  width: 60%;
}

.card:hover .card-img-pionner {
  width: 65%;
}

/***************** MAC ****************/
.card .card-img-mac {
  width: 75%;
  top: 25%;
}

.card:hover .card-img-mac {
  width: 80%;
}

/***************** TV ****************/
.card .card-img-tv {
  width: 75%;
  top: 21%;
}

.card:hover .card-img-tv {
  width: 80%;
}

/***************** FIN IMAGENES ****************/
/***************** PRECIO TEXT ****************/
.product-name-price {
  position: absolute;
  bottom: -1em;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s all ease;
  width: 90%;
}

.card:hover .product-name-price {
  bottom: 6%;
}

/***************** TITULO PRODUCTO ****************/
.product-name {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

.product-name span:last-of-type {
  font-size: 13px;
  display: block;
  color: #b4b4b4;
}

/***************** PRECIO PRODUCTO ****************/
.product-price {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  margin-top: 0.2em;
  letter-spacing: 0.07em;
}

/***************** BOTONES ****************/
.buy-now {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 50px;
  background: #3858A2;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  transition: 0.3s all ease;
}

.card .buy-now:hover {
  background: #fff;
  color: #3858A2;
}

.card:hover .buy-now {
  bottom: 0%;
}

/***************** CARRITO ****************/
.buy-now__cart {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  bottom: -50%;
  left: 85%;
  transform: translate(-50%, -50%);
  outline: none;
  transition: 0.3s all ease;
}

.card .buy-now__cart:hover {
  background: transparent;
  font-size: 22px;
  transition: font-size 0.1s ease;
}

.card:hover .buy-now__cart {
  bottom: -1%;
}

/***************** CORAZON MEGUSTA ****************/
.buy-now__heart {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  bottom: -50%;
  left: 15%;
  transform: translate(-50%, -50%);
  outline: none;
  transition: 0.3s all ease;
}

.card .buy-now__heart:hover {
  background: transparent;
  font-size: 22px;
  transition: font-size 0.1s ease;
}

.card:hover .buy-now__heart {
  bottom: -1%;
}

/*********************************
            CARDS MEDIA
*********************************/
@media (max-width: 500px) {
  .card {
    width: 330px;
    margin: 0.6em auto;
  }

  .card img {
    width: 50%;
  }

  .card:hover .card-description {
    bottom: 42%;
  }
}
@media (max-width: 456px) {
  .card {
    width: 310px;
    height: 420px;
  }

  .buy-now {
    padding: 0.8em;
  }
}
@media (max-width: 418px) {
  .card {
    width: 290px;
    height: 400px;
  }

  .buy-now {
    padding: 0.8em;
  }
}
@media (max-width: 397px) {
  .card {
    width: 265px;
  }

  .buy-now {
    padding: 0.7em 0.6em;
  }

  .card:hover .buy-now__heart {
    bottom: 0%;
  }

  .card:hover .buy-now__cart {
    bottom: 0%;
  }

  .card:hover .card-description {
    bottom: 37%;
  }
}
@media (max-width: 352px) {
  .card {
    width: 243px;
  }

  .buy-now {
    font-size: 13px;
  }

  .buy-now__cart, .buy-now__heart {
    padding: 7px 25px;
  }
}
@media (max-width: 330px) {
  .buy-now {
    font-size: 14px;
    padding: 4px 14px;
  }

  .card img {
    top: 20%;
    width: 60%;
  }

  .buy-now__cart, .buy-now__heart {
    padding: 12px 25px;
  }

  .card:hover .card-description {
    bottom: 31%;
  }
}
/*********************************
            HEADER
*********************************/
.main-header {
  background-image: url(../img/topbot/bg-header.png);
  background-size: cover;
  border-bottom: solid rgba(51, 51, 51, 0.048);
}

/*********************************
            TOP BAR
*********************************/
.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px 0px 4px 0px;
  color: #333;
  margin: 0 auto 0 auto;
  max-width: 1180px;
}

.top-bar__welcome {
  font-size: 13px;
  font-weight: bold;
  align-self: flex-end;
  letter-spacing: 2px;
  flex-grow: 1;
}

.top-bar__wsp-link,
.top-bar__insta-link {
  padding-left: 0px;
  margin-bottom: 0px;
  list-style: none;
  font-size: 22px;
  display: inline-block;
  line-height: 35px;
  width: 34px;
  height: 34px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  transition: all 0.2s linear;
}

.top-bar__wsp-link {
  color: #f1f1f1;
  background-color: #27D467;
}

.top-bar__insta-link {
  color: #f1f1f1;
  background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
}

.top-bar__wsp-link:focus,
.top-bar__wsp-link:hover {
  color: #f1f1f1;
  background-color: #333;
}

.top-bar__insta-link:focus,
.top-bar__insta-link:hover {
  color: #f1f1f1;
  background: none;
  background-color: #333;
}

/********************************************
                SEPARADOR TOP
********************************************/
.top-bar_separador {
  border-bottom: 2px solid #7e7e7e;
}

/********************************************
                NAV CONTAINER
********************************************/
.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 0.5em auto;
  max-width: 1180px;
  padding: 1em 0 0 0;
}

.logo-container--media {
  display: none;
}

/*********************************
        ISO SEARCH SHIPPING
*********************************/
.nav-container__isoSearchShipping-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/******************* ISO *******************/
.logo-container--iso {
  max-width: 50px;
  margin: 0 0 0 3.42em;
}

/******************* SEARCH *******************/
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px 20px 0px;
}

.search-bar__input {
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  border: 2px solid #3858a1;
  outline: none;
  width: 30em;
  height: 35px;
  border-radius: 15px 0 0 15px;
  font-size: 1em;
  font-weight: bolder;
  padding: 0px 10px;
  letter-spacing: 2px;
  color: #3858a1;
}
.search-bar__input::-moz-placeholder {
  opacity: 0.8;
}
.search-bar__input:-ms-input-placeholder {
  opacity: 0.8;
}
.search-bar__input::placeholder {
  opacity: 0.8;
}
.search-bar__input:focus::-moz-placeholder {
  opacity: 0;
}
.search-bar__input:focus:-ms-input-placeholder {
  opacity: 0;
}
.search-bar__input:focus::placeholder {
  opacity: 0;
}

.search-bar__btn {
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
  height: 35px;
  width: 55px;
  outline: none;
  border-radius: 0 15px 15px 0;
  background: #3858a1;
  color: #ffffff;
  border: none;
  transition: all 0.3s ease;
  font-size: 1em;
}
.search-bar__btn:hover {
  transition: all 0.3s ease;
  cursor: pointer;
}
.search-bar__btn:hover i {
  font-size: 1.5em;
}

/******************* SHIPPING *******************/
.nav-container__shipping {
  display: flex;
  color: #5f5f5f;
}

.shipping--text {
  margin-left: 10px;
}

/*****************************************
        LOGO NAVBAR CARRITO RELLENO
******************************************/
.nav-container__logoNavbarCarritoRelleno-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  margin-top: 0.2em;
}

/******************* LOGO *******************/
.logo-container--logo {
  max-width: 160px;
}

/******************* NAV BAR *******************/
.nav-container__nav-bar {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 0.1em;
}

.nav-bar__nav-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.nav-bar__nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  display: block;
  color: #333;
  padding: 0em 1em;
  text-decoration: none;
}

.nav-bar__nav-link:hover,
.nav-bar__nav-link:active {
  color: #D50081;
}

/******************* CARRITO *******************/
.nav-container__carrito-container {
  padding: 0 0 0 2em;
}

.nav-container__carrito-container__button {
  color: #333;
  font-size: 1.5em;
}

.nav-container__carrito-container__button:hover,
.nav-container__carrito-container__button:active {
  color: #D50081;
}

/******************* RELLENO *******************/
.nav-container__infoRelleno {
  display: flex;
  color: #5f5f5f;
}

.infoRelleno--telefono {
  display: flex;
  padding: 0 1em;
}

.infoRelleno--soporte {
  display: flex;
}

.telefono--text, .soporte--text {
  margin-left: 10px;
}

/*********************************
            HEADER SCROLL
*********************************/
.header-scroll {
  opacity: 0;
  height: 0;
  background-color: #f7f7f7;
}

/***** header sticky links *****/
@media (min-width: 1024px) {
  .fixed {
    opacity: 1;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
    transition: all 1.2s;
  }
}
/***** fin *****/
.scroll-bar__container {
  max-width: 1180px;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.6em 0 1.6em 0;
}

.scroll-bar--logo {
  max-width: 160px;
  display: none;
}

/***** header sticky logo *****/
@media (min-width: 1024px) {
  .fixed-logo {
    display: block;
  }
}
/***** fin *****/
.nav-scroll__list {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.nav-scroll--link {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  display: block;
  color: #333;
  padding: 0em 1em;
  text-decoration: none;
  display: none;
}

/***** header sticky links *****/
@media (min-width: 1024px) {
  .fixed-link {
    display: block;
  }
}
/***** fin *****/
.nav-scroll--link:hover,
.nav-scroll--link:active {
  color: #3858a1;
}

/*********************************
            MENU TOGGLE
*********************************/
#menu {
  display: none;
}

#menu:checked + .top-bar ~ .main-header > .nav-container > .nav-container__logoNavbarCarritoRelleno-container > .nav-container__nav-bar > .nav-bar {
  display: block;
}

#menu:checked + .top-bar ~ .main-header > .nav-container > .nav-container__isoSearchShipping-container > .nav-container__search > .search-bar {
  display: flex;
}

.menu-toggle {
  display: none;
  background-color: transparent;
  flex: 0 0 3em;
  position: relative;
  cursor: pointer;
}

.menu-toggle__label {
  width: 40px;
  height: 25px;
  display: block;
  margin: auto;
  position: relative;
}

.menu-toggle__pan-arriba,
.menu-toggle__medallon,
.menu-toggle__pan-abajo {
  width: 100%;
  height: 20%;
  background-color: #333;
  display: block;
  position: absolute;
  border-radius: 7px;
  transition: transform 0.5s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.menu-toggle__pan-arriba {
  top: 0%;
}

.menu-toggle__medallon {
  top: 40%;
}

.menu-toggle__pan-abajo {
  top: 80%;
}

#menu:checked + .top-bar > .menu-toggle > .menu-toggle__label > .menu-toggle__medallon {
  opacity: 0;
}

#menu:checked + .top-bar > .menu-toggle > .menu-toggle__label > .menu-toggle__pan-abajo {
  transform: rotate(135deg);
  top: 40%;
  transition: transform 0.5s ease-in-out;
}

#menu:checked + .top-bar > .menu-toggle > .menu-toggle__label > .menu-toggle__pan-arriba {
  transform: rotate(225deg);
  top: 40%;
  transition: transform 0.5s ease-in-out;
}

/*********************************
            RESPONSIVE
*********************************/
@media (max-width: 1240px) {
  .top-bar, .nav-container {
    width: 90%;
  }
}
@media (max-width: 1130px) {
  .search-bar {
    width: 80%;
    margin: 0 auto 0 auto;
  }
}
@media (max-width: 1024px) {
  .logo-container--logo {
    max-width: 130px;
  }

  .logo-container--iso {
    max-width: 50px;
    margin: 0 0 0 2.3em;
  }

  .search-bar {
    width: 70%;
  }
}
@media (max-width: 1023px) {
  .nav-container {
    flex-direction: row;
    padding: 1em 0 0.5em 0;
    justify-content: center;
    margin: 0 auto 0 auto;
  }

  .nav-container__isoSearchShipping-container {
    justify-content: center;
    width: 400px;
  }

  .nav-container__logoNavbarCarritoRelleno-container {
    align-items: center;
    justify-content: center;
  }

  .nav-container__nav-bar {
    align-items: center;
    margin: auto;
  }

  .nav-bar__nav-link {
    padding: 0 0.8em;
  }

  .nav-container__shipping,
.nav-container__infoRelleno,
.nav-container__logo-container,
.nav-container__logo-container--iso {
    display: none;
  }

  .logo-container--media {
    display: block;
  }

  .logo-media {
    max-width: 100px;
  }

  .search-bar {
    width: 60%;
  }

  .nav-container__carrito-container {
    padding: 0 0.7em 0 0.7em;
  }
}
@media (max-width: 974px) {
  .nav-container {
    flex-direction: column;
  }

  .logo-media {
    max-width: 120px;
  }

  .nav-container__logoNavbarCarritoRelleno-container {
    margin-bottom: 0.5em;
  }

  .nav-bar__nav-link {
    font-size: 15px;
  }

  .nav-container__carrito-container__button {
    font-size: 1.7em;
  }

  .search-bar {
    width: 72%;
  }
}
@media (max-width: 660px) {
  .menu-toggle {
    display: block;
    justify-content: center;
    margin-left: 3em;
  }

  .nav-container {
    padding-top: 0;
  }

  .top-bar, .nav-container {
    width: 85%;
    margin: 0 auto;
  }

  .top-bar {
    justify-content: space-between;
    align-items: center;
  }

  .top-bar__welcome {
    display: none;
  }

  .nav-bar {
    display: none;
  }

  .nav-bar__nav-list {
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
  }

  .nav-bar__nav-link {
    padding: 0.8em;
    color: #f1f1f1;
  }

  .search-bar {
    display: none;
    width: 100%;
    padding: 1em 3em;
    margin-bottom: 1em;
  }

  .search-bar__input {
    letter-spacing: 0;
  }

  .search-bar__btn {
    width: 60px;
  }

  .nav-container__search {
    background-color: #333;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .nav-container__nav-bar {
    background-color: #333;
    width: 100%;
  }

  .nav-container__logoNavbarCarritoRelleno-container {
    order: -2;
    margin: 0px;
    padding: 0px;
  }

  .logo-media {
    max-width: 140px;
    margin: 2em 0 1em 0;
  }

  .nav-container__isoSearchShipping-container {
    order: -1;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  /****** tiramos el carrito al top *******/
  .nav-container__carrito-container {
    position: absolute;
    top: 0.8em;
    left: 6%;
  }
}
@media (max-width: 445px) {
  .nav-container__logoNavbarCarritoRelleno-container {
    width: 100%;
  }

  .nav-container {
    width: 100%;
  }

  .nav-container__search {
    background-color: #333;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
@media (max-width: 375px) {
  .search-bar__input {
    width: 125%;
    font-size: 0.8em;
  }
}
/*********************************
            FOOTER
*********************************/
.site-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  background-color: rgba(19, 18, 18, 0.925);
  background-image: url(../img/topbot/bg-footer.png);
  background-size: cover;
  color: #ddd;
}

/*********************************
            COPY
*********************************/
.data-text {
  font-size: 0.9em;
  text-align: center;
  padding: 10px 3px 5px 3px;
  line-height: 2em;
}

.data-text__separador {
  font-weight: bold;
  font-size: 1.5em;
}

.data-text__location {
  font-size: 1.1em;
  text-shadow: rgba(255, 255, 255, 0.418) 0px 0px 5px, rgba(255, 255, 255, 0.356) 0px 0px 10px, rgba(255, 255, 255, 0.281) 0px 0px 15px, #2023bd83 0px 0px 10px, #2023bd83 0px 0px 20px, #2023bd83 0px 0px 30px, #2023bd83 0px 0px 40px, #2023bd83 0px 0px 65px, 18px 0px 7px rgba(93, 206, 148, 0);
  color: #fff;
}

/*********************************
            ICONOS
*********************************/
.site-footer__social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  text-align: center;
  padding-top: 20px;
}

.site-footer__social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.site-footer__social-icons a {
  background-color: #141414;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  transition: all 0.2s linear;
}

.site-footer__social-icons a:active,
.site-footer__social-icons a:focus,
.site-footer__social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.site-footer__social-icons a.facebook:hover {
  background-color: #3b5998;
}

.site-footer__social-icons a.twitter:hover {
  background-color: #00aced;
}

.site-footer__social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.site-footer__social-icons a.dribbble:hover {
  background-color: #ea4c89;
}

/*********************************
            NAV BAR IMAGE
*********************************/
.nav-bar__footer_title {
  text-align: center;
  padding-top: 20px;
}

.nav-bar__footer_title-image {
  width: 50px;
}

/*********************************
            NAV BAR FOOTER
*********************************/
.nav-bar__footer__nav-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding-top: 10px;
}

.nav-bar__footer__nav-link {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
  display: block;
  color: #ddd;
  padding: 0.8em 1em;
  text-decoration: none;
}

.nav-bar__footer__nav-link:hover {
  font-size: 0.83em;
}

/*********************************
            SEPARADORES
*********************************/
.nav-bar__footer_separador {
  border-bottom: #bbb solid 2px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  opacity: 0.5;
  padding-top: 10px;
}

/*********************************
            COPY
*********************************/
.copyright-text {
  font-size: 0.8em;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 2em;
}

.copyright-text__separador {
  font-weight: bold;
  font-size: 1.5em;
}

.copyright-text__webmaster {
  font-size: 1.1em;
  font-weight: bold;
}

body {
  background-color: #ebeff8;
}

/*********************************
            CATEGORIAS
*********************************/
.categories {
  margin: 2em auto 1em auto;
  max-width: 1180px;
  display: flex;
  justify-content: space-between;
}

.categories-modulos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modulos-p {
  margin-top: 1em;
  color: #5f5f5f;
  font-weight: bold;
}

.tv-link:focus, .tv-link:hover,
.phone-link:focus, .phone-link:hover,
.tablet-link:focus, .tablet-link:hover,
.auris-link:focus, .auris-link:hover,
.parlantes-link:focus, .parlantes-link:hover,
.mas-link:focus, .mas-link:hover {
  color: #f1f1f1;
  background-color: #333;
}

@media (max-width: 1240px) {
  .categories {
    flex-wrap: wrap;
    width: 90%;
    margin: 1em auto 0.5em auto;
  }

  .categories-modulos {
    margin: 0.8em;
  }
}
@media (max-width: 815px) {
  .categories {
    justify-content: center;
    width: 70%;
  }
}
@media (max-width: 320px) {
  .modulos-p {
    margin-top: 0.5em;
  }
}
/*************** LINKS *****************/
.tv-link {
  list-style: none;
  color: #f1f1f1;
  background-color: #5574BB;
  border-radius: 100%;
  transition: all 0.2s linear;
  font-size: 50px;
  padding: 0.3em;
}

.phone-link {
  list-style: none;
  color: #f1f1f1;
  background-color: #5574BB;
  border-radius: 100%;
  transition: all 0.2s linear;
  font-size: 50px;
  padding: 0.3em 0.6em;
}

.tablet-link {
  list-style: none;
  color: #f1f1f1;
  background-color: #5574BB;
  border-radius: 100%;
  transition: all 0.2s linear;
  font-size: 50px;
  padding: 0.3em 0.48em;
}

.auris-link {
  list-style: none;
  color: #f1f1f1;
  background-color: #5574BB;
  border-radius: 100%;
  transition: all 0.2s linear;
  font-size: 50px;
  padding: 0.3em 0.42em;
}

.parlantes-link {
  list-style: none;
  color: #f1f1f1;
  background-color: #5574BB;
  border-radius: 100%;
  transition: all 0.2s linear;
  font-size: 50px;
  padding: 0.3em 0.37em;
}

.mas-link {
  list-style: none;
  color: #f1f1f1;
  background-color: #5574BB;
  border-radius: 100%;
  transition: all 0.2s linear;
  font-size: 50px;
  padding: 0.3em 0.48em;
}

/*********************************
            SLIDE BAR
*********************************/
.slider-container {
  max-width: 1700px;
  margin: 2em auto 2em auto;
  background-color: #ebeff8;
  overflow: hidden;
  box-shadow: 0 0 6px 3px rgba(132, 142, 161, 0.1);
  position: relative;
}

.slider {
  display: flex;
  width: 300%;
  height: 400px;
  margin-left: -100%;
}

.slider__modulo {
  width: 100%;
}

.slider__modulo-img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider__btn {
  position: absolute;
  width: 1.2em;
  top: 50%;
  height: 100%;
  transform: translateY(-50%);
  font-size: 4em;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.slider__btn i {
  align-self: center;
}

.slider__btn:hover {
  background: rgba(233, 233, 233, 0.5);
}

.slider__btn--rigth {
  right: 0;
}

@media (max-width: 600px) {
  .slider__btn {
    font-size: 3em;
  }
}
@media (max-width: 375px) {
  .slider__btn {
    font-size: 2.2em;
  }
}
/********************************************
                SEPARADOR BOT
********************************************/
.bot-bar_separador {
  border-top: solid 3px #d500804f;
  max-width: 1180px;
  margin: 0 auto 0 auto;
}

@media (max-width: 537px) {
  .bot-bar_separador {
    width: 80%;
  }
}
/*********************************
            COMENTARIOS
*********************************/
.reviews {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.review {
  color: #3858A2;
  margin-bottom: 3em;
  margin-top: 3em;
}
.review__brick {
  background-color: #fafbfc;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 6px 3px rgba(132, 142, 161, 0.1);
  padding: 35px 30px;
  padding-left: 55px;
  border-radius: 2px;
  transform: skew(-6deg);
  transition: box-shadow 0.3s ease;
  min-height: 205px;
}
.review__brick:hover {
  box-shadow: 0 0 8px 5px rgba(132, 142, 161, 0.15);
}
.review__brick:hover .review__img {
  filter: blur(3px) brightness(70%);
  transform: scale(1);
}
.review__brick:hover .review__caption {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%);
}
.review__brick:not(:last-child) {
  margin-bottom: 60px;
}
.review__profile {
  margin: 0;
  width: 130px;
  height: 130px;
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  transform: translatex(-25px) skew(6deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  float: left;
}
.review__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: scale(1.2);
}
.review__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  text-align: center;
  color: #fafbfc;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.review__text {
  transform: skew(6deg);
}
.review__text h2 {
  margin-top: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 1em;
}
.review__text p {
  margin-bottom: 0;
  line-height: 1.42;
  -moz-columns: auto;
       columns: auto;
  -moz-column-rule: 1px solid rgba(0, 0, 0, 0.1);
       column-rule: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  color: #333;
  text-align: justify;
}

.review-title {
  text-align: center;
  text-transform: uppercase;
  margin: 2em auto;
  padding-top: 2em;
  font-size: 0.8em;
  border-top: solid 3px #d500804f;
  width: 100%;
}

@media (max-width: 537px) {
  .review__profile {
    float: none;
    margin: 0 auto 1.5em auto;
    transform: translatex(0px) skew(0deg);
  }

  .review__text {
    transform: none;
  }

  .review__brick {
    transform: none;
    padding: 2em 3em;
    text-align: center;
  }

  .review-title {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 375px) {
  .review__brick {
    padding: 2em 1.8em;
  }
}
/*********************************
            PAYMENT
*********************************/
.payment-container {
  max-width: 1180px;
  margin: 4em auto 4em auto;
  height: 6em;
  box-shadow: 0 0 6px 3px rgba(132, 142, 161, 0.5);
  background-color: #fafbfc;
  color: #333;
  display: flex;
  justify-content: space-between;
  padding: 0 2em 0 2em;
}

.payment-container hr {
  height: 70%;
  margin: auto 0 auto 0;
}

.payment__modulo {
  display: flex;
  align-items: center;
}

.payment-container img {
  max-width: 60px;
}

.payment-container p {
  font-weight: bold;
  margin-left: 1em;
}

.payment__modulo--promo {
  align-items: center;
  display: none;
}

.link-promociones {
  text-decoration: none;
  color: #5574BB;
}

.link-promociones:hover {
  color: #333;
}

@media (max-width: 1240px) {
  .payment-container {
    flex-wrap: wrap;
    width: 90%;
  }
}
@media (max-width: 1024px) {
  .payment__modulo--promo {
    display: flex;
    margin: 0 1.5em;
  }

  .payment--barra {
    display: none;
  }

  .payment__modulo {
    display: none;
  }

  .payment-container {
    justify-content: center;
  }
}
@media (max-width: 866px) {
  .payment__modulo--promo {
    margin: 0 0.5em;
  }
}
@media (max-width: 796px) {
  .payment-container {
    height: auto;
  }

  .payment__modulo--promo {
    margin: 1.5em 0.5em;
  }

  .payment__modulo--promo p {
    text-align: center;
  }
}
body {
  background-color: #ebeff8;
  overflow-y: scroll;
  overflow-x: hidden;
}

/*********************************
            IMAGEN
*********************************/
.nosotros-parallax {
  background-image: url(../img/nosotros/bg-nosotros.png);
}

.parallax {
  padding: 30vw 0 5vw;
  position: relative;
  transform-style: inherit;
  width: 100vw;
  transform-style: preserve-3d;
  perspective: 1px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.parallax, .parallax:before {
  background: 50% 50%/cover;
}

.parallax::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  background-color: #8a8;
  background-image: url(../img/nosotros/nosotros.jpg);
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 150vh;
}

.parallax * {
  font-weight: normal;
  letter-spacing: 0.2em;
  text-align: center;
  margin: 0;
  padding: 1em 0;
}

/*********************************
            TITULO
*********************************/
.parallax-title {
  background-color: #3858a2d8;
  font-size: 3em;
  font-family: "Overlock", sans-serif;
  font-weight: bold;
  color: #fff;
}

/*********************************
            TEXTO
*********************************/
.parallax-text {
  line-height: 1.7;
  position: relative;
  z-index: 2;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 5em 0 2em 0;
  text-align: justify;
}

.parallax-text p:last-of-type {
  font-weight: bold;
  text-align: center;
}

@media (max-width: 1024px) {
  .parallax-text {
    width: 80%;
  }
}
/*********************************
            BUTTON
*********************************/
.parallax-text__button {
  height: 100px;
  width: 200px;
  margin: 3em auto 0 auto;
  text-align: center;
}

.button-rollover {
  background-color: #333;
  border: 2px solid #ddd;
  border-radius: 7px;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  letter-spacing: 1px;
  margin: 5px;
  overflow: hidden;
  padding: 0 22px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.button-rollover:hover {
  background-color: transparent;
  border: 2px solid #333;
}

.roll-text {
  display: block;
  position: relative;
  transition: all 420ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.roll-text:last-child {
  color: #333;
}

.button-rollover:hover .roll-text:first-child {
  margin-top: -38px;
}

body {
  background-color: #ebeff8;
}

/*********************************
            TOP
*********************************/
.carrito-pag__top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  background-image: url(../img/carrito/carrito-main.jpg);
  background-size: cover;
  background-position: center;
}

/*********************************
            TITULO
*********************************/
.carrito-pag__top__title {
  text-align: center;
  background-color: #3858a2d8;
  font-size: 3em;
  font-family: "Overlock", sans-serif;
  font-weight: bold;
  color: #fff;
  padding: 1em 0;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/*********************************
            CONTENIDO
*********************************/
.carrito-content {
  margin: 3em auto;
  max-width: 1180px;
}

.carrito__text {
  width: 80%;
  font-weight: bold;
  font-size: 1.2em;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  padding: 20px 15px 20px 15px;
  background-color: #333;
  color: #fff;
}

/*********************************
            BUTTON
*********************************/
.carrito-text__button {
  width: 80%;
  margin: 2em auto 0 auto;
}

.button-rollover-carrito {
  background-color: #3858A2;
  border: 2px solid #ddd;
  border-radius: 7px;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  height: 60px;
  line-height: 40px;
  letter-spacing: 1px;
  overflow: hidden;
  padding: 7px 25px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.button-rollover-carrito:hover {
  background-color: transparent;
  border: 2px solid #3858A2;
}

.roll-text {
  text-transform: uppercase;
  display: block;
  position: relative;
  transition: all 420ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.roll-text-carrito {
  color: #3858A2;
  text-transform: uppercase;
}

.button-rollover-carrito:hover .roll-text:first-child {
  margin-top: -38px;
}

@media (max-width: 425px) {
  .button-rollover-carrito {
    font-size: 12px;
    padding: 0.7em 1em;
  }
}
body {
  background-color: #ebeff8;
}

/*********************************
            TOP
*********************************/
.alta-pag__top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  background-image: url(../img/alta/alta-title.jpg);
  background-size: cover;
  background-position: center;
}

/*********************************
            TITULO
*********************************/
.alta-pag__top__title {
  text-align: center;
  background-color: #3858a2d8;
  font-size: 3em;
  font-family: "Overlock", sans-serif;
  font-weight: bold;
  color: #fff;
  padding: 1em 0;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/*********************************
            FORMULARIO
*********************************/
.alta-container {
  padding: 6em;
  line-height: 1.6;
  color: #304253;
  background-image: url(../img/alta/alta-fondo.jpg);
  background-size: cover;
}

.wrapper-alta {
  box-shadow: 0 0 20px 0 rgba(90, 116, 204, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper-alta > * {
  padding: 1em;
}

.alta-data {
  border: 0px;
}

.alta-data div {
  padding-top: 15px;
}

.alta-container__company {
  background: #D50081;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.alta-container__company p {
  font-weight: bold;
  color: #fff;
  font-size: 1.5em;
  margin-top: 0.5em;
}

.alta {
  background: #dcdfea;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.alta-data__short-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.alta-data__short-list div {
  padding: 0.5em;
  width: 10em;
}

.alta-form label {
  display: block;
  text-align: center;
}

label[for=name] {
  text-align: left;
}

.alta-form input,
.alta-form textarea,
.alta-form select {
  width: 100%;
  padding: 0.7em;
  border: solid 1px #D50081;
  border-radius: 5px;
  font-size: 1em;
}

.alta-form textarea {
  resize: none;
  height: 8em;
  font-size: 16px;
  margin-top: 5px;
}

.alta-data__detalles label {
  text-align: center;
  font-size: 1.2em;
  margin-top: 10px;
}

/*********************************
            FOTO
*********************************/
.alta-data__photo label {
  background: #D50081;
  padding: 5px 20px;
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  transition: all 0.4s;
  border-radius: 10px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.alta-data__photo label:hover,
.alta-data__photo label:focus {
  background: #8bbbeb;
  color: #414141;
  cursor: pointer;
}

/*********************************
            ENVIO
*********************************/
.alta-data__shipping {
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
}

.alta-data__shipping input {
  cursor: pointer;
  width: 18px;
  height: 18px;
  margin: 5px 10px 5px 10px;
}

.alta-data__shipping label {
  margin-right: 25px;
}

/*********************************
            BOTONES
*********************************/
.alta-data__button {
  text-align: center;
  margin-bottom: 1em;
}

.alta-data__button input {
  background: #D50081;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-top: 0.7em;
  padding: 1em;
  width: 11em;
}

.alta-data__button input:hover,
.alta-data__button input:focus {
  background: #3952a3;
  color: #ffffff;
  outline: 0;
  transition: background-color 1s ease-out;
  cursor: pointer;
}

/********* FIN BOTONES ***********/
.alta-data__short-list input:first-of-type {
  padding: 1em;
}

.price-icon {
  position: absolute;
  line-height: 52px;
  width: 21px;
  color: #a09f9f;
  text-align: center;
}

/*********************************
            RESPONSIVE
*********************************/
@media (max-width: 1000px) {
  .wrapper-alta {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .wrapper-alta {
    width: 90%;
  }

  .alta {
    width: 100%;
  }

  .alta-container {
    padding: 2em;
  }

  .alta-form textarea {
    height: 14em;
  }

  .alta-data__button {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }

  .alta-data__photo label {
    width: 100%;
  }

  label[for=name] {
    text-align: center;
  }
}
body {
  background-color: #ebeff8;
}

/*********************************
            TOP
*********************************/
.contact-pag__top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  background-image: url(../img/contacto/contacto-title.jpg);
  background-size: cover;
  background-position: center;
}

/*********************************
            TITULO
*********************************/
.contact-pag__top__title {
  text-align: center;
  background-color: #3858a2d8;
  font-size: 3em;
  font-family: "Overlock", sans-serif;
  font-weight: bold;
  color: #fff;
  padding: 1em 0;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/*********************************
            FORMULARIO
*********************************/
.contact-container {
  background-image: url(../img/contacto/contacto-bg.png);
  background-size: cover;
  background-color: #3858a2d8;
  color: #485e74;
}

.wrapper-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1180px;
  margin: auto;
  padding: 3em;
}

.wrapper-contact > * {
  padding: 1em;
}

.contact-data {
  border: 0px;
}

.contact-data div {
  padding-top: 15px;
}

.contact-container__company {
  background-image: url(../img/contacto/contacto-form.jpg);
  background-size: cover;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 45%;
  color: #fff;
  box-shadow: 0 0 20px 0 rgba(46, 77, 180, 0.7);
}

.contact-container__company-list {
  list-style: none;
  line-height: 2em;
}

.company--separador {
  background-color: #fff;
  height: 0.1em;
  width: 85%;
  margin-bottom: 3em;
}

.contact-container__company p {
  font-weight: bold;
  font-size: 2.5em;
  padding-bottom: 0.8em;
  margin-top: 0.5em;
}

.contact {
  background: #dcdfea;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 60%;
  box-shadow: 0 0 20px 0 rgba(46, 77, 180, 0.7);
}

.contact--input:focus, .contact--textarea:focus {
  outline: #D50081 1px solid;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 1em;
  border: solid 1px #627EDC;
  border-radius: 5px;
  font-size: 1em;
  margin-top: 0.5em;
  background-color: rgba(255, 255, 255, 0.425);
}

.contact-form textarea {
  resize: none;
  height: 8em;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.contact-data__button input {
  background: #D50081;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-top: 0.7em;
  border: 0px;
}

.contact-data__button input:hover,
.contact-data__button input:focus {
  background: #3952a3;
  color: #fff;
  outline: 0;
  transition: background-color 1s ease-out;
  cursor: pointer;
}

/*********************************
            RESPONSIVE
*********************************/
@media (max-width: 1240px) {
  .wrapper-contact {
    width: 90%;
  }
}
@media (max-width: 890px) {
  .wrapper-contact {
    flex-direction: column;
    width: 100%;
    padding: 1.5em;
  }

  .contact-container__company {
    width: 100%;
  }

  .contact {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    width: 100%;
  }

  .contact-container {
    padding: 2em;
  }

  .contact-form textarea {
    height: 14em;
  }

  .contact-data__button {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 890px) {
  .contact-data__button {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 425px) {
  .contact-container__company p {
    font-size: 1.8em;
  }

  .wrapper-contact {
    padding: 0.8em;
  }
}
@media (max-width: 320px) {
  .contact-data__button {
    width: 100%;
  }
}