/*********************************
            HEADER
*********************************/

.main-header {
    background-image: url(../img/topbot/bg-header.png);
    background-size: cover;
    border-bottom: solid rgba(51, 51, 51, 0.048);
}

/*********************************
            TOP BAR
*********************************/


.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px 0px 4px 0px;
    color: #333;
    margin: 0 auto 0 auto;
    max-width: 1180px;
}

.top-bar__welcome {
    font-size: 13px;
    font-weight: bold;
    align-self: flex-end;
    letter-spacing: 2px;
    flex-grow: 1;
}

.top-bar__wsp-link, 
.top-bar__insta-link {
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: none;
    font-size: 22px;
    display: inline-block;
    line-height: 35px;
    width: 34px;
    height: 34px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.top-bar__wsp-link {
    color: #f1f1f1;
    background-color: #27D467;
}

.top-bar__insta-link {
    color: #f1f1f1;
    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
}

.top-bar__wsp-link:focus,
.top-bar__wsp-link:hover {
    color: #f1f1f1;
    background-color: #333;
}

.top-bar__insta-link:focus,
.top-bar__insta-link:hover {
    color: #f1f1f1;
    background: none;
    background-color: #333;
}

/********************************************
                SEPARADOR TOP
********************************************/
.top-bar_separador {
    border-bottom: 2px solid rgb(126, 126, 126);
}

/********************************************
                NAV CONTAINER
********************************************/

.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 0.5em auto;
    max-width: 1180px;
    padding: 1em 0 0 0;
}

.logo-container--media {
    display: none;
}


/*********************************
        ISO SEARCH SHIPPING
*********************************/

.nav-container__isoSearchShipping-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/******************* ISO *******************/

.logo-container--iso {
    max-width: 50px;
    margin: 0 0 0 3.42em;
}


/******************* SEARCH *******************/

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px 20px 0px;
}

.search-bar__input {
    box-shadow: 3px 3px 2px rgba($black, .2);
    background: $white;
    border: 2px solid $orange;
    outline: none;
    width: 30em;
    height: 35px;
    border-radius: 15px 0 0 15px;
    font-size: 1em;
    font-weight: bolder;
    padding: 0px 10px;
    letter-spacing: 2px;
    color: $orange;

    &::placeholder {
        opacity: 0.8;
    }

    &:focus::placeholder {
        opacity: 0;
    }
}

.search-bar__btn {
    box-shadow: 3px 3px 2px rgba($black, .2);
    height: 35px;
    width: 55px;
    outline: none;
    border-radius: 0 15px 15px 0;
    background: $orange;
    color: $white;
    border: none;
    transition: $ease;
    font-size: 1em;

    &:hover {
        transition: $ease;
        cursor: pointer;

        i {
            font-size: 1.5em;
        }
    }
}


/******************* SHIPPING *******************/

.nav-container__shipping {
    display: flex;
    color: rgb(95, 95, 95);
}

.shipping--text {
    margin-left: 10px;
}


/*****************************************
        LOGO NAVBAR CARRITO RELLENO
******************************************/

.nav-container__logoNavbarCarritoRelleno-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    margin-top: 0.2em;
}


/******************* LOGO *******************/

.logo-container--logo {
    max-width: 160px;
}

/******************* NAV BAR *******************/

.nav-container__nav-bar {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 0.1em;
}

.nav-bar__nav-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.nav-bar__nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    display: block;
    color: #333;
    padding: 0em 1em;
    text-decoration: none;
}

.nav-bar__nav-link:hover,
.nav-bar__nav-link:active {
    color: #D50081;
}


/******************* CARRITO *******************/

.nav-container__carrito-container {
    padding: 0 0 0 2em;
}

.nav-container__carrito-container__button {
	color: #333;
    font-size: 1.5em;
}

.nav-container__carrito-container__button:hover,
.nav-container__carrito-container__button:active {
    color: #D50081;
}


/******************* RELLENO *******************/

.nav-container__infoRelleno {
    display: flex;
    color: rgb(95, 95, 95);
}

.infoRelleno--telefono {
    display: flex;
    padding: 0 1em;
}

.infoRelleno--soporte {
    display: flex;
}

.telefono--text, .soporte--text {
    margin-left: 10px;
}


/*********************************
            HEADER SCROLL
*********************************/

.header-scroll {
    opacity: 0;
    height: 0;
    background-color: rgb(247, 247, 247);
}

/***** header sticky links *****/
@media (min-width: 1024px) {
    .fixed {
        opacity: 1;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 5px 5px 4px rgba($black, .2);
        z-index: 10;
        transition: all 1.2s;
    }
}
    /***** fin *****/

.scroll-bar__container {
    max-width: 1180px;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.6em 0 1.6em 0;
}

.scroll-bar--logo {
    max-width: 160px;
    display: none;
}

/***** header sticky logo *****/
@media (min-width: 1024px) {
    .fixed-logo {
        display: block;
    }
}
/***** fin *****/

.nav-scroll__list {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.nav-scroll--link {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    display: block;
    color: #333;
    padding: 0em 1em;
    text-decoration: none;
    display: none;
}

/***** header sticky links *****/
@media (min-width: 1024px) {
    .fixed-link {
        display: block;
    }
}
/***** fin *****/

.nav-scroll--link:hover,
.nav-scroll--link:active {
    color: $orange;
}


/*********************************
            MENU TOGGLE
*********************************/

#menu {
    display: none;
}

#menu:checked + .top-bar ~ .main-header > .nav-container > .nav-container__logoNavbarCarritoRelleno-container > .nav-container__nav-bar > .nav-bar {
    display: block;
}

#menu:checked + .top-bar ~ .main-header > .nav-container > .nav-container__isoSearchShipping-container > .nav-container__search > .search-bar {
    display: flex;
}

.menu-toggle {
    display: none;
    background-color: transparent;
    flex: 0 0 3em;
    position: relative;
    cursor: pointer;
}

.menu-toggle__label {
    width: 40px;
    height: 25px;
    display: block;
    margin: auto;
    position: relative;
}

.menu-toggle__pan-arriba,
.menu-toggle__medallon,
.menu-toggle__pan-abajo {
    width: 100%;
    height: 20%;
    background-color: #333;
    display: block;
    position: absolute;
    border-radius: 7px;
    transition: transform .5s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.menu-toggle__pan-arriba {
    top: 0%;
}

.menu-toggle__medallon {
    top: 40%;
}

.menu-toggle__pan-abajo {
    top: 80%;
}

#menu:checked + .top-bar > .menu-toggle > .menu-toggle__label > .menu-toggle__medallon {
    opacity: 0;
}

#menu:checked + .top-bar > .menu-toggle > .menu-toggle__label > .menu-toggle__pan-abajo {
    transform: rotate(135deg);
    top: 40%;
    transition: transform .5s ease-in-out;
}

#menu:checked + .top-bar > .menu-toggle > .menu-toggle__label > .menu-toggle__pan-arriba {
    transform: rotate(225deg);
    top: 40%;
    transition: transform .5s ease-in-out;
}

/*********************************
            RESPONSIVE
*********************************/

@media (max-width: 1240px) {

    .top-bar, .nav-container {
        width: 90%;
    }

}

@media (max-width: 1130px) {

    .search-bar {
        width: 80%;
        margin: 0 auto 0 auto;
    }

}

@media (max-width: 1024px) {

    .logo-container--logo {
        max-width: 130px;
    }

    .logo-container--iso {
        max-width: 50px;
        margin: 0 0 0 2.3em;
    }

    .search-bar {
        width: 70%;
    }
}

@media (max-width: 1023px) {

    .nav-container {
        flex-direction: row;
        padding: 1em 0 0.5em 0;
        justify-content: center;
        margin: 0 auto 0 auto;
    }

    .nav-container__isoSearchShipping-container {
        justify-content: center;
        width: 400px;
    }

    .nav-container__logoNavbarCarritoRelleno-container {
        align-items: center;
        justify-content: center;
    }

    .nav-container__nav-bar {
        align-items: center;
        margin: auto;
    }

    .nav-bar__nav-link {
        padding: 0 0.8em;
    }

    .nav-container__shipping,
    .nav-container__infoRelleno,
    .nav-container__logo-container,
    .nav-container__logo-container--iso {
        display: none;
    }

    .logo-container--media {
        display: block;
    }

    .logo-media {
        max-width: 100px;
    }

    .search-bar {
        width: 60%;
    }

    .nav-container__carrito-container {
        padding: 0 0.7em 0 0.7em;
    }
}


@media (max-width: 974px) {

    .nav-container {
        flex-direction: column;
    }

    .logo-media {
        max-width: 120px;
    }

    .nav-container__logoNavbarCarritoRelleno-container {
        margin-bottom: 0.5em;
    }

    .nav-bar__nav-link {
        font-size: 15px;
    }

    .nav-container__carrito-container__button {
        font-size: 1.7em;
    }

    .search-bar {
        width: 72%;
    }

}

@media (max-width: 660px) {

    .menu-toggle {
        display: block;
        justify-content: center;
        margin-left: 3em;
    }

    .nav-container {
        padding-top: 0;
    }

    .top-bar, .nav-container {
        width: 85%;
        margin: 0 auto;
    }

    .top-bar {
        justify-content: space-between;
        align-items: center;
    }

    .top-bar__welcome {
        display: none;
    }

    .nav-bar {
        display: none;
    }

    .nav-bar__nav-list {
        flex-direction: column;
        align-items: center;
        padding-top: 1em;
    }

    .nav-bar__nav-link {
        padding: 0.8em;
        color: #f1f1f1;
    }

    .search-bar {
        display: none;
        width: 100%;
        padding: 1em 3em;
        margin-bottom: 1em;
    }

    .search-bar__input {
        letter-spacing: 0;
    }

    .search-bar__btn {
        width: 60px;
    }

    .nav-container__search {
        background-color: #333;
        width: 100%;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .nav-container__nav-bar {
        background-color: #333;
        width: 100%;
    }

    .nav-container__logoNavbarCarritoRelleno-container {
        order: -2;
        margin: 0px;
        padding: 0px;
    }

    .logo-media {
        max-width: 140px;
        margin: 2em 0 1em 0;
    }

    .nav-container__isoSearchShipping-container {
        order: -1;
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    /****** tiramos el carrito al top *******/
    .nav-container__carrito-container {
        position: absolute;
        top: 0.8em;
        left: 6%;
    }

}

@media (max-width: 445px) {

    .nav-container__logoNavbarCarritoRelleno-container {
        width: 100%;
    }

    .nav-container {
        width: 100%;
    }

    .nav-container__search {
        background-color: #333;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

}

@media (max-width: 375px) {
    
    .search-bar__input{
        width: 125%;
        font-size: 0.8em;
    }

}