body {
    background-color: #ebeff8;
}

/*********************************
            TOP
*********************************/

.contact-pag__top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    background-image: url(../img/contacto/contacto-title.jpg);
    background-size: cover;
    background-position: center;
}

/*********************************
            TITULO
*********************************/

.contact-pag__top__title {
    text-align: center;
    background-color: #3858a2d8;
    font-size: 3em;
    font-family: 'Overlock', sans-serif;
    font-weight: bold;
    color: #fff;
    padding: 1em 0;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

/*********************************
            FORMULARIO
*********************************/

.contact-container {
    background-image: url(../img/contacto/contacto-bg.png);
    background-size: cover;
    background-color: #3858a2d8;
    color: #485e74;
}

.wrapper-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1180px;
    margin: auto;
    padding: 3em;
}

.wrapper-contact > * {
    padding: 1em;
}

.contact-data {
    border: 0px;
}

.contact-data div {
    padding-top: 15px;
}

.contact-container__company {
    background-image: url(../img/contacto/contacto-form.jpg);
    background-size: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 45%;
    color: #fff;
    box-shadow: 0 0 20px 0 rgba(46, 77, 180, 0.7);
}

.contact-container__company-list {
    list-style: none;
    line-height: 2em;
}

.company--separador{
    background-color: #fff;
    height: 0.1em;
    width: 85%;
    margin-bottom: 3em;
}

.contact-container__company p {
    font-weight: bold;
    font-size: 2.5em;
    padding-bottom: 0.8em;
    margin-top: 0.5em;
}

.contact {
    background: #dcdfea;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 60%;
    box-shadow: 0 0 20px 0 rgba(46, 77, 180, 0.7);
}

.contact--input:focus, .contact--textarea:focus {
    outline: #D50081 1px solid;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 1em;
    border: solid 1px #627EDC;
    border-radius: 5px;
    font-size: 1em;
    margin-top: .5em;
    background-color: rgba(255, 255, 255, 0.425);
}

.contact-form textarea {
    resize: none;
    height: 8em;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.contact-data__button input {
    background: #D50081;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0.7em;
    border: 0px;
}

.contact-data__button input:hover,
.contact-data__button input:focus {
    background: #3952a3;
    color: #fff;
    outline: 0;
    transition: background-color 1s ease-out;
    cursor: pointer;
}


/*********************************
            RESPONSIVE
*********************************/

@media (max-width: 1240px) {

    .wrapper-contact {
        width: 90%;
    }

}

@media (max-width: 890px) {

    .wrapper-contact {
        flex-direction: column;
        width: 100%;
        padding: 1.5em;
    }
    
    .contact-container__company {
        width: 100%;
    }

    .contact {
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0px;
        width: 100%;
    }

    .contact-container {
        padding: 2em;
    }

    .contact-form textarea {
        height: 14em;
    }

    .contact-data__button{
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 890px) {
    .contact-data__button{
        width: 50%;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 425px) {

    .contact-container__company p {
        font-size: 1.8em;
    }

    .wrapper-contact {
        padding: 0.8em;
    }

}

@media (max-width: 320px) {
    .contact-data__button{
        width: 100%;
    }
}