body {
    background-color: #ebeff8;
}

/*********************************
            CATEGORIAS
*********************************/

.categories {
    margin: 2em auto 1em auto;
    max-width: 1180px;
    display: flex;
    justify-content: space-between;
}

.categories-modulos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modulos-p {
    margin-top: 1em;
    color: rgb(95, 95, 95);
    font-weight: bold;
}

.tv-link:focus, .tv-link:hover,
.phone-link:focus, .phone-link:hover,
.tablet-link:focus, .tablet-link:hover,
.auris-link:focus, .auris-link:hover,
.parlantes-link:focus, .parlantes-link:hover,
.mas-link:focus, .mas-link:hover
{
    color: #f1f1f1;
    background-color: #333;
}

@media (max-width: 1240px) {

    .categories {
      flex-wrap: wrap;
      width: 90%;
      margin: 1em auto 0.5em auto;
    }

    .categories-modulos {
      margin: 0.8em;
    }

}

@media (max-width: 815px) {

  .categories {
    justify-content: center;
    width: 70%;
  }

}

@media (max-width: 320px) {

  .modulos-p {
    margin-top: 0.5em;
  }

}

/*************** LINKS *****************/

.tv-link  {
    list-style: none;
    color: #f1f1f1;
    background-color: #5574BB;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    font-size: 50px;
    padding: 0.3em;
}

.phone-link  {
  list-style: none;
  color: #f1f1f1;
  background-color: #5574BB;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  font-size: 50px;
  padding: 0.3em .6em;
}

.tablet-link  {
  list-style: none;
  color: #f1f1f1;
  background-color: #5574BB;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  font-size: 50px;
  padding: 0.3em .48em;
}

.auris-link  {
  list-style: none;
  color: #f1f1f1;
  background-color: #5574BB;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  font-size: 50px;
  padding: 0.3em .42em;
}

.parlantes-link  {
  list-style: none;
  color: #f1f1f1;
  background-color: #5574BB;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  font-size: 50px;
  padding: 0.3em .37em;
}

.mas-link  {
  list-style: none;
  color: #f1f1f1;
  background-color: #5574BB;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  font-size: 50px;
  padding: 0.3em .48em;
}


/*********************************
            SLIDE BAR
*********************************/

.slider-container {
  max-width: 1700px;
  margin: 2em auto 2em auto;
  background-color: #ebeff8;
  overflow: hidden;
  box-shadow: 0 0 6px 3px rgba($grey-darken, .1);
  position: relative;
}

.slider {
  display: flex;
  width: 300%;
  height: 400px;
  margin-left: -100%;
}

.slider__modulo {
  width: 100%;
}

.slider__modulo-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  width: 1.2em;
  top: 50%;
  height: 100%;
  transform: translateY(-50%);
  font-size: 4em;
  cursor: pointer;
  display:flex;
  justify-content: center;
}

.slider__btn i {
  align-self: center;
}

.slider__btn:hover {
  background: rgba(233, 233, 233, 0.5);
}

.slider__btn--rigth {
  right: 0;
}

@media (max-width: 600px) {

  .slider__btn {
    font-size: 3em;
  }

}

@media (max-width: 375px) {

  .slider__btn {
    font-size: 2.2em;
  }

}

/********************************************
                SEPARADOR BOT
********************************************/

.bot-bar_separador {
  border-top: solid 3px #d500804f;
  max-width: 1180px;
  margin: 0 auto 0 auto;
}

@media (max-width: 537px) {
  
  .bot-bar_separador {
    width: 80%;
  }

}

/*********************************
            COMENTARIOS
*********************************/

.reviews {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.review {
  color: $text;
  margin-bottom: 3em;
  margin-top: 3em;
  
  &__brick {
    background-color: $base;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 6px 3px rgba($grey-darken, .1);
    padding: 35px 30px;
    padding-left: 55px;
    border-radius: 2px;
    transform: skew(-6deg);
    transition: box-shadow .3s ease;
    min-height: 205px;
    
    &:hover {
      box-shadow: 0 0 8px 5px rgba($grey-darken, .15);
      
      .review__img {
        filter: blur(3px) brightness(70%);
        transform: scale(1);
      }
      
      .review__caption {
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, -50%);
      }
    }
    
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }
  
  &__profile {
    margin: 0;
    width: 130px;
    height: 130px;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translatex(-25px) skew(6deg);
    backface-visibility: hidden;
    overflow: hidden;
    float: left;
  }
  
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
    backface-visibility: hidden;
    transform: scale(1.2);
  }
  
  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-align: center;
    color: $base;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in;
    backface-visibility: hidden;
  }
  
  &__text {
    transform: skew(6deg);
    
    h2 {
      margin-top: 0;
      margin-bottom: 15px;
      text-transform: uppercase;
      font-size: 1em;
    }
    
    p {
      margin-bottom: 0;
      line-height: 1.42;
      columns: auto;
      column-rule: 1px solid rgba(0,0,0,0.1);
      hyphens: auto;
      color: $parraf;
      text-align: justify;
    }
  }
}

.review-title {
  text-align: center;
  text-transform: uppercase;
  margin: 2em auto;
  padding-top: 2em;
  font-size: 0.8em;
  border-top: solid 3px #d500804f;
  width: 100%;
}

@media (max-width: 537px) {
  .review__profile {
    float: none;
    margin: 0 auto 1.5em auto;
    transform: translatex(0px) skew(0deg);
  }

  .review__text {
    transform: none;
  }

  .review__brick {
    transform: none;
    padding: 2em 3em;
    text-align: center;
  }

  .review-title {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

}

@media (max-width: 375px) {
  .review__brick {
    padding: 2em 1.8em;
  }
}

/*********************************
            PAYMENT
*********************************/

.payment-container {
  max-width: 1180px;
  margin: 4em auto 4em auto;
  height: 6em;
  box-shadow: 0 0 6px 3px rgba($grey-darken, .5);
  background-color: $base;
  color: #333;
  display: flex;
  justify-content: space-between;
  padding: 0 2em 0 2em;
}

.payment-container hr {
  height: 70%;
  margin: auto 0 auto 0;
}

.payment__modulo {
  display: flex;
  align-items: center;
}

.payment-container img {
  max-width: 60px;
}

.payment-container p {
  font-weight: bold;
  margin-left: 1em;
}

.payment__modulo--promo {
  align-items: center;
  display: none;
}

.link-promociones {
  text-decoration: none;
  color: #5574BB;
}

.link-promociones:hover {
  color: #333;
}

@media (max-width: 1240px) {

  .payment-container {
    flex-wrap: wrap;
    width: 90%;
  }

}

@media (max-width: 1024px) {

  .payment__modulo--promo {
    display: flex;
    margin: 0 1.5em;
  }

  .payment--barra {
    display: none;
  }

  .payment__modulo {
    display: none;
  }

  .payment-container {
    justify-content: center;
  }

}

@media (max-width: 866px) {

  .payment__modulo--promo {
    margin: 0 0.5em;
  }

}

@media (max-width: 796px) {

  .payment-container {
    height: auto;
  }

  .payment__modulo--promo {
    margin: 1.5em 0.5em;
  }

  .payment__modulo--promo p {
    text-align: center;
  }

}